# * -> Set primary display
# |: Separator
#
# Orientations
# r -> right
# l -> left
# n -> normal [default]
# i -> inverted

# My example
2 | 1* | 3r

# Bigger example with 6 screens
# 4r | 5 | 6r
# 1r | 2 | 3r
